[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = git@github.com:libuv/libuv.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = git@github.com:curl/curl.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = git@github.com:openssl/openssl.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = git@github.com:madler/zlib.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = git@github.com:fmtlib/fmt.git

[submodule "3rdparty/icu"]
	path = 3rdparty/icu
	url = git@github.com:unicode-org/icu.git
