[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = git@github.com:libuv/libuv.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = git@github.com:curl/curl.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = git@github.com:openssl/openssl.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = git@github.com:madler/zlib.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rdparty/icu"]
	path = 3rdparty/icu
	url = git@github.com:unicode-org/icu.git
	branch = maint/maint-74
[submodule "3rdparty/wxwidgets"]
	path = 3rdparty/wxwidgets
	url = git@github.com:wxWidgets/wxWidgets.git --recursive
[submodule "3rdparty/cjson"]
	path = 3rdparty/cjson
	url = git@github.com:DaveGamble/cJSON.git
[submodule "3rdparty/libyaml"]
	path = 3rdparty/libyaml
	url = git@github.com:yaml/libyaml.git
[submodule "3rdparty/libxml2"]
	path = 3rdparty/libxml2
	url = git@github.com:GNOME/libxml2.git
[submodule "3rdparty/libiconv"]
	path = 3rdparty/libiconv
	url = git@github.com:winlibs/libiconv.git
