[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = git@github.com:libuv/libuv.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = git@github.com:curl/curl.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = git@github.com:openssl/openssl.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = git@github.com:madler/zlib.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rdparty/icu"]
	path = 3rdparty/icu
	url = git@github.com:unicode-org/icu.git
	branch = maint/maint-74
[submodule "3rdparty/cjson"]
	path = 3rdparty/cjson
	url = git@github.com:DaveGamble/cJSON.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = git@github.com:facebook/zstd.git
[submodule "3rdparty/quickfix"]
	path = 3rdparty/quickfix
	url = git@github.com:skstu/quickfix.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "3rdparty/jsonnet"]
	path = 3rdparty/jsonnet
	url = https://github.com/google/jsonnet.git
[submodule "3rdparty/libuiohook"]
	path = 3rdparty/libuiohook
	url = git@github.com:kwhat/libuiohook.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = git@github.com:opencv/opencv.git
